!!! 5
html
  head
    link(href='http://fonts.googleapis.com/css?family=Niconne', rel='stylesheet', type='text/css')
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="user-scalable=no, width=device-width, initial-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="bc-manifest", content="../manifest.json")
    title Example
    link(rel="stylesheet", href="../stylesheets/theme-1.10.2.css")
    link(rel="stylesheet", href="../stylesheets/Example.css")
    script(type="text/javascript", src="../javascripts/lib/brightcove-app-cloud-1.10.2.js")
    script(type="text/javascript", src="../javascripts/Example.js")
    script(type="text/javascript", src="../javascripts/lib/hammer.js")
    script(type="text/javascript", src="../javascripts/lib/jquery.hammer.js")

  body
    div.imgContainer.first
      p Neon Fish
      img(src="http://asishsfishes.yolasite.com/resources/Neon_coral_fish_2.jpg")

    div.imgContainer.second
      p Beaked Fish
      img(src="http://australianmuseum.net.au/Uploads/Images/2089/Beaked%20Coralfish%20448-15_big.jpg")

    div.imgContainer.third
      p Rainbow Fish
      img(src="http://www.wallpaper77.com/upload/DesktopWallpapers/cache/Colorfull-Small-Coral-Fish-fish-wallpapers-ocean-sea-underwater-water-800x600.jpg")

    div.imgContainer.fourth
      p Clown Fish
      img(src="http://3.bp.blogspot.com/-NQta_tsLfac/Tv1dz9aAjuI/AAAAAAAAEL8/XP7-NCQa0r8/s1600/tie-die-fish2.jpg")

    div.imgContainer.fifth
      p Angel Fish
      img(src="http://www.goodwp.com/mini/201103/16050.jpg")

    div#settings